<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94075101208-bcjlavsro3shd3j7r1oq116s1kgc86k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94075101208-bcjlavsro3shd3j7r1oq116s1kgc86k2</string>
	<key>API_KEY</key>
	<string>AIzaSyAYtA4-6acV0TyOma1ToQMJDh9-ucMYrRI</string>
	<key>GCM_SENDER_ID</key>
	<string>94075101208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-demo-6ed26</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-demo-6ed26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94075101208:ios:06d7dde8e0afc4caa6636d</string>
</dict>
</plist>